"*":
  "atom-beautify":
    general:
      _analyticsUserId: ""
    sass:
      convert_quotes: "single"
      indent_size: 2
      newline_between_rules: true
    scss:
      convert_quotes: "single"
      indent_size: 2
      newline_between_rules: true
  core:
    audioBeep: false
    autoHideMenuBar: true
  editor:
    fontSize: 17
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: ""
  linter:
    showErrorPanel: false
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "sync-settings":
    _analyticsUserId: ""
  "w3c-validation":
    validateOnSave: false
  welcome:
    showOnStartup: false
